body {
    margin-bottom: -10mm;
    background-image: url(pictures/blackboard.jpg);
    font-family: 'Special Elite', cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(195, 219, 167);
    text-align: left;
    cursor: url(cursors/left_ptr.cur), default;
}

section {
    min-height: 95vh;
    min-width: 98vw;
}

.arrowicon {
    width: 3em
}

h1,
h2,
h3,
h4 {
    padding-top: 6mm;
    text-align: center;
}

h1 {
    font-size: 55px;
}

h1:hover {
    text-shadow: 0 0 10px rgb(195, 219, 167);
}

h2 {
    font-size: 45px;
    padding-top: 20mm;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 27px
}

.headersite {
    font-size: 45px;
    margin-left: 33%;
}

.obalnanavipics {
    display: flex;
    margin-left: 17%;
}

.projectsobal {
    margin-bottom: 40px;
    margin-left: 16%;
    display: flex;
}

.monitor {
    position: center;
    display: flex;
    background-image: url(skills/monitor.png);
    height: 686px;
    width: 1014px;
    margin-left: 23%;
}

.screen1 {
    position: relative;
    display: flex;
    margin-left: 6%;
    margin-top: 8%;
    z-index: 1;
    height: 25px;
}

.screen2 {
    position: relative;
    display: flex;
    margin-left: 54%;
    margin-top: 8%;
    z-index: 2;
    height: 25px;
}

.screen3 {
    position: relative;
    display: flex;
    margin-left: -27%;
    margin-top: 24%;
    z-index: 3;
    height: 25px
}

.screen4 {
    position: relative;
    display: flex;
    margin-left: -73%;
    margin-top: 36%;
    z-index: 4;
    height: 25px;
}

.screen5 {
    position: relative;
    display: flex;
    margin-left: 8%;
    margin-top: 49%;
    z-index: 5;
    height: 25px;
}

.icons {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    height: 50px;
}

.navigationmenupic {
    margin: -2px;
}

.navigationmenupic:hover {
    border: 1px solid rgb(195, 219, 167);
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(195, 219, 167);
    filter: brightness(130%);
}

.navigationmenupic__overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(195, 219, 167);
    font-family: 'Special Elite', cursive;
    display: flex;
}

.projects {
    max-width: 250px;
    margin-right: 1cm;
    margin-left: 1cm;
}

.projects:hover {
    border: 1px solid rgb(195, 219, 167);
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(195, 219, 167);
    filter: brightness(110%);
}

a {
    color: rgb(195, 219, 167);
}

a:hover {
    text-shadow: 0 0 10px rgb(195, 219, 167);
    color: rgb(195, 219, 167);
    text-decoration: none;
    cursor: url(cursors/pointing_hand.cur), pointer;
}

hr {
    margin-top: 20mm;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(195, 219, 167), rgba(0, 0, 0, 0));
}

.home {
    color: rgb(195, 219, 167);
    font-size: 25px;
    margin-left: 3em;
}

span {
    cursor: url(cursors/Text.cur), vertical-text;
}

.paperpic {
    display: flex;
    margin-left: 24%;
    width: 1000px;
}

.aboutmetext {
    font-size: 24px;
    color: #ffffff;
}

.pic-interests {
    height: 700px;
    display: flex;
    margin-left: 25%;
}

.foot {
    display: flex;
    margin-left: 23%;
    width: 1000px;
}

.hobbiespic {
    display: flex;
    width: 1000px;
    margin-left: 24%;
}